@model List<EssexWebapp.Models.CarouselContent>
@{ int counter = 1; }
@foreach (var carouselContent in Model)
{
<div class="impact">
  <div class="hero campaign" style="background-image:url(@carouselContent.Image)">
    <div class="overlay"></div>
    <div class="overlay-box">
      <div class="overlay-content">
        <div class="content-heading"><a href="@carouselContent.URL">@carouselContent.Title</a></div>
        <p>@carouselContent.Teaser</p>
      </div>
    </div>
  </div>
</div>
  counter++;
}