@model IEnumerable<EssexWebapp.Models.SocialMediaLink>
@inject EssexWebapp.Config.BusinessId BusinessId

@foreach (var socialMediaLink in Model)
{
  <li>
    <a href="@socialMediaLink.Url"><span class="fab fa-@socialMediaLink.Icon.ToLower()"></span><span>@socialMediaLink.Title</span></a>
  </li>
}