@using EssexWebapp.Models
@using EssexWebapp.ViewModels
@model NewsroomViewModel
@{
  ViewData["og:title"] = "News";
  ViewData["Title"] = "News";
  Layout = "../Shared/_Layout.cshtml";
}
@section Breadcrumbs {
  <partial name="Breadcrumb" model='new List<Crumb>()'/>
}
<div class="main only">
  <section aria-label="News overview page" class="content">
    <h1 class="page-heading">News</h1>
    <partial name="NewsListing" model='Model' />
  </section>
</div>
<script type="text/javascript">
  require(['startup', 'favourites', 'expandinglinks','primaryfilter', 'filters', 'viewmoreslider'],
    function (startup, favourites, expandinglinks, primaryfilter, filters, viewmoreslider) {
      favourites.Init();         
      startup.Init();
      expandinglinks.Init();
      primaryfilter.Init();
      filters.Init();            
      viewmoreslider.Init();
    })
</script>