@using EssexWebapp.Config
@using EssexWebapp.Models
@model Footer
@inject IStaticAssets StaticAssets
@inject IApplicationConfiguration appConfig
@inject BusinessId BusinessId


<footer class="footer-container">
    <div class="footer-top">
        <div class="footer">
            <nav class="nav">
                <ul class="nav-links">
                    
                    @if (Model.Links != null)
                    {
                        @Html.Partial("FooterLinks", Model.Links)
                    }
                </ul>
                <ul class="social">
                    @if (Model.SocialMediaLinks != null)
                    {
                        @Html.Partial("SocialMediaLinks", Model.SocialMediaLinks)
                    }
                </ul>
                
            </nav>
        </div>
    </div>
    <div class="footer-bottom" role="contentinfo">
        <div class="footer">
            <ul class="credits">
                <li class="copyright">
                    @if (Model.CopyrightSection != null)
                    {
                        @Model.CopyrightSection @DateTime.Now.Year
                    }
                </li>
                <li class="design-link">
                    <a href="https://servicedesign.blog.essex.gov.uk/">Built by the Service Design Team</a>
                </li>
            </ul>

                


</div>
    </div>
</footer>

