@using EssexWebapp.Models
@inject IStaticAssets StaticAssets

<footer class="footer-container" role="contentinfo">
    <div class="footer-top">
        <div class="footer">
            <nav class="nav">
                <ul class="nav-links">
                    <li class="copyright">
                        © Essex County Council @DateTime.Now.Year
                    </li>
                </ul>

                <ul class="social">
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer">
            <ul class="credits">
                <li class="design-link">
                    <a href="https://servicedesign.blog.essex.gov.uk/">Built by the Service Design Team</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
