@{
    Layout = "../Shared/_LayoutError.cshtml";
}

@*div class="container">*@
<div class="main only">
    <section class="intro">
        <h1>@ViewData["ErrorHeading"]</h1>
        <p>@ViewData["ErrorMessage"]</p>
        <p>You can <a href="/search">search essex.gov.uk</a> or browse the <a href="/">homepage</a> for the information you're looking for.</p>
    </section>
</div>
@*</div>*@

