<div class="phase-banner-background" role="region" aria-label="phasebanner">
    <div class="phase-banner" id="phasebanner">
        <p class="phase-content">       
        <span class="phase-text">This is our new website design - it's a work in progress. 
            <a href="https://surveys.hotjar.com/s?siteId=719326&surveyId=128438">Tell us what you think</a>
        </span>
        </p>
    </div>
</div>
