<div class="emergency-banner emergency-banner--notable-death" role="banner" data-nosnippet="true">
  <div class="container">
    <section class="content">
      <div class="column-two-thirds">
        <h2 id="emergency__heading" class="emergency-banner__heading">
          HEADING_1
        </h2>
        <p class="emergency-banner__description">
          DATES
        </p>
        <p class="emergency-banner__description">
          CONTENT
        </p>
      </div>
    </section>
  </div>
</div>

@* THE BELOW IS THE TEMPLATE YOU CAN USE FOR THE FUTURE UNDERSTANDING WHICH PARTS YOU CAN CHANGE VIA "CHANGE_ME" *@
@* THE SECOND DESCRIPTION IS LIKELY THE PART THAT NEEDS MOST CARE *@
@* <div class="emergency-banner emergency-banner--notable-death" role="banner" data-nosnippet="true">
  <div class="container">
    <section class="content">
      <div class="column-two-thirds">
        <h2 id="emergency__heading" class="emergency-banner__heading">
          CHANGE_ME
        </h2>
        <p class="emergency-banner__description">
          CHANGE_ME
        </p>
        <p class="emergency-banner__description">
          CHANGE_ME <a href="CHANGE_ME" class="emergency-banner__link" id="emergency__link" aria-labelledby="emergency__link emergency__heading">CHANGE_ME</a>, CHANGE_ME
        </p>
      </div>
    </section>
  </div>
</div> *@