<div class="emergency-banner emergency-banner--notable-death" role="banner" data-nosnippet="true">
  <div class="container">
    <section class="content">
      <div class="column-two-thirds">
        <h2 id="emergency__heading" class="emergency-banner__heading">
          His Royal Highness Henry VIII
        </h2>
        <p class="emergency-banner__description">
          1509-1547
        </p>
        <a
          href="https://en.wikipedia.org/wiki/Henry_VIII"
          class="emergency-banner__link" id="emergency__link" aria-labelledby="emergency__link emergency__heading"
        >
          More information
        </a>
      </div>
    </section>
  </div>
</div>