@model IEnumerable<EssexWebapp.Models.SubItem>

@{
    var count = 1;
    if (Model != null)
    {
        <div class="search-buttons">
            @foreach (var subItem in Model)
            {
                <div class="search-button">
                    <a class="button" href="@subItem.NavigationLink" role="button" id="task-block-@count">@subItem.Title</a>
                </div>
                count++;
            }
        </div>
    }
}
