@using EssexWebapp.Models
@using EssexWebapp.Utils
@inject ICookiesHelper CookiesHelper
@model Alert
@{
  bool isDismissed = false;

  var alertCookies = CookiesHelper.GetCookies<Alert>("alerts");
  if (alertCookies != null && alertCookies.Contains(Model.Slug))
  {
    isDismissed = true;
  }
}
@if (!isDismissed)
{
  <div class="alert @Model.Severity.ToLowerInvariant()" id="tab-alert-@Model.Severity">
    <div class="alert-text">
      <div class="section-heading">@Model.Title</div>
      @if (!string.IsNullOrEmpty(Model.SubHeading))
      {
        <p class="alert-subheading">@Model.SubHeading</p>
      }
      <p>@Html.Raw(Model.Body)</p>
    </div>
    <button class="text" type="button" onclick="toggle_visibility('tab-alert-@Model.Severity');">Hide this message</button>
  </div>
}