<div class="search">
    <div class="search-input">
        @Html.Partial("Search", new Tuple<string, string, string>("cludo-search-hero-form", "Search essex.gov.uk", "search-bar"))
    </div>
</div>
