<section class="signup" aria-label="Subscribe to email">
  <h2 class="section-heading">Sign up for e-newsletters</h2>
  <p>Get the latest news and information about your council services</p>
  <div class="btn-area signup-button" id="submitYourEmailAddress">
    <a href="CHANGE_ME" class="button subscribe">Subscribe</a>
  </div>
</section>