@model EssexWebapp.Models.Topic

@if (Model.SubItems.Any())
{
    
        <ul class="link-boxes">
            @foreach (var subItem in Model.SubItems)
            {
                <li class="link-box">
                    <a href="@subItem.NavigationLink">
                        <div class="link-content">
                            <h2>@subItem.Title</h2>
                            <p>@subItem.Teaser</p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    
}

