@model EssexWebapp.Models.Topic

@if (Model.SubItems.Any())
{
  <ul class="link-boxes">
  @foreach (var subItem in Model.SubItems)
  {
    <li class="link-box">
      <div class="link-content">
        <a href="@subItem.NavigationLink" class="sub-section-heading">@subItem.Title</a>
        <p>@subItem.Teaser</p>
      </div>
    </li>
  }
  </ul>
}