<div class="phase-banner-background" role="region" aria-label="phasebanner">
    <div class="phase-banner" id="phasebanner">
        <p class="phase-content">
            <strong class="phase-tag">Preview site</strong>
            <span class="phase-text">This is our preview site used to preview new features and content in draft. </span>
        </p>
    </div>
</div>
